<nav class="navbar navbar-default" id="barraMenu"> 
 <div class="container-fluid">
 <div class="navbar-header">  
  </div>
  </div>
  </nav>
  

<div id="left-bar">
Modulos
</div>

<div id="center-bar">
Actividades
</div>

<div id="right-bar">
Noticias
Resumen


</div>