
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="mdEficLabel">Asignar Acci&oacute;n de Mejora</h4>
		</div>
		<div class="modal-body" id="divOpcion">
			<div class="radio">
				<label><input type="radio" name="optradio"
					onclick="javascript:irAAccionMejora();">Crear una Acci&oacute;n de
					Mejora</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio"
					onclick="javascript:agregarGestionAccionMejora();"
					id="mdradagregacc">Agregar a Acci&oacute;n de Mejora Existente</label>
			</div>
		</div>
		<div class="modal-body" id="divAsocGAM">
			<div class="form-group">
				<button id="btnGuardarAsoc" type="button" class="btn btn-success"
					title="Guardar" onclick="javascript:guardarSeleccion();">
					<i class="fa fa-floppy-o fa-lg"></i>
				</button>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover"
					id="tblV">
					<thead>
						<tr>
							<th class="tb-acc">Asociado</th>
							<th class="tb-acc">Debido a</th>
							<th class="tb-acc">Resumen de la Acci&oacute;n de mejora</th>
							<th class="tb-acc">Estado</th>
						</tr>
					</thead>
					<tbody id="tbodyV">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>