 @media(max-width:768px){
 /*Calendario*/
 .dhx_agenda_line{
 height: auto !important;
     border: 1px solid #f5ebeb;
 }
 .dhx_agenda_line div{
  width: 100%;
  }
  .dhx_v_border{
  display: none;
  }
  .dhx_cal_header{
      font-size: 15px;
    font-weight: 800;
    text-align: center;
        background: #109ba3 !important;
    color: #f0ecec;
  }
  
  .tituloDetailEvento{
  color: white;
    background: #009e9a;
    font-size: 17px;
  }
  .infoEvento{
  background: white;
    font-size: 17px;
    padding-top: 13px;
  }
   .infoEvento>span{
   font-weight:900;
   }
   .btnInfoEvento{
   text-align: center;
   background: white;
   padding-top: 15px;
   }
   .btnInfoEvento>.btn{
   margin-left: 5px;
   }
 /**/
	 .tituloTutorial{
	 font-size: 17px;
	 }
	 #empresaGosstMovil,#unidadesGosstMovil,#eventosGosstMovil{
	 height: calc(100% - 26px);
    position: absolute;
    width: 100%;
    top: 54px;
	 }
	 .loadingGosst{
	 border: 1px solid black;
	 background-color: white;
	 
	     color: #0caaaa;
    font-size: 20px;
    font-weight: 800;
	 text-align: center;
	 height: 40px;
	 width: 100%;
	 }
	 .ubicacionGosst{
	min-height: 30px;
    height: auto;
    display: block;
    width: 100%;
    font-weight: 800;
    text-align: center;
    color: #248a64;
    background-color: #fcfbff;
    box-shadow: inset -2px -2px 14px 2px rgb(203, 208, 220);
	 }
	 .seleccionGosst{
	 color: #f8f1f1 !important;
    background-color: #2c6462 !important;
	 }
	 .eliminarGosst{
	  height: 40px;
	 vertical-align: middle;
     display: inline-block;
     width: 33%;
    text-align: center; 
    color: white;
    background-color: #a40e06;
	 }
	 .guardarGosst{
	 height: 40px;
	 vertical-align: middle;
     display: inline-block;
     width: 33%;
    text-align: center; 
    color: white;
    background-color: #238586;
	 }
	 .volverGosst{
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	width: 33%;
    text-align: center;
    color: white;
    background-color: #230404;
    box-shadow: inset -2px -2px 14px 2px rgb(8, 20, 47);
    }
	 .cantidadGosst{
	 height: 40px;vertical-align: middle;
	 display: inline-block;
	 width: 34%;
    text-align: center;
    color: white;
    background-color: #184680;
    box-shadow: inset -2px -2px 14px 2px rgb(12, 45, 119);
    }
    .despliegueGosst{
       height: 40px;
       vertical-align: middle;
     display: inline-block;
     width: 33%;
    text-align: center; 
    color: white;
    background-color: #238586;
    }
    .agregarGosst{
     height: 40px;
     vertical-align: middle;
     display: inline-block;
     width: 33%;
    text-align: center; 
    color: white;
    background-color: #238586;
    
    }
    .unidadGosst,.divisionGosst,.areaGosst{
    height: 53px; 
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    color: #238586;
    background-color: white;
    border: 3px solid #238586;
    font-weight: 800;
    margin-top: 2px
    }
 }


@media(max-width:1400px){ 
	#mensajeGosst {
    left: 50%;
    top: 50%;
    position: absolute;
    width: 400px;
    margin-left: -50px;
    margin-top: -180px;
    font-size: 23px;
}
	.tooltip.fade.bottom.in{
	margin-top: -45px
	}
	.tooltip.bottom {
    padding: 5px 0;
    margin-top: 13px;
}
	 
	 table{
	 font-size: 12px;
	 }
	 .itemFig,.itemNoFig {
	     border: 7px solid #1d96c2;
	 }
	.subItemFig,.subItemNoFig{
	     border: 7px solid #1d96c2;
	 }
	.fa-3x {
   		 font-size: 1.8em;
	}
	
	#btnIrModulo>.subItemFig>i, #btnIrModulo>.itemFig>i {
    left: 50%;
    margin-left: -27px;
    top: 50%;
    margin-top: -32px;
    position: absolute;
	}
	#btnVolverModulos>.subItemFig>i {
    left: 50%;
    margin-left: -27px;
    top: 50%;
    margin-top: -32px;
    position: absolute;
}
 }

  @media(max-width:550px){ 
 
 }
 @media(max-width:370px){ 
 
 }
 
 
 @media(max-width:768px){ 
  .containerFig + .tooltip > .tooltip-inner {
     display: none;
  }
 .itemFig>img,.itemNoFig>img,
 .subItemFig>img,.subItemNoFig>img{
	display:block;
	width: 100%;
	height: 100%;
}
 .itemFig>span,.itemNoFig>span,
 .subItemFig>span,.subItemNoFig>span{
	display: none;
}
#btnVolverModulos>.subItemFig>span,
#btnIrModulo>.subItemFig>span,
#btnIrModulo>.itemFig>span{
	display: block;
}
 #menuExplicativo{ 
    padding-top: 30px ;
}
 .itemFig>span>.fa-3x {
    font-size: 2em;
}
.subContainerFig{
	 height: 54%;
	 min-width: 200px;
	  padding: 10px 20px 10px 20px;
}
 .containerFig {
    height: 44%;
    padding: 10px 20px 10px 20px;
}
 .fa-2x {
    font-size: 1.2em;
}
 /*AC SUB*/
 .alertaEventos{
    width: 35px;
    height: 30px;
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 264px;
    background-color: #09655b;
 }
 
 #grafEventosGosst{
 width:100%;
 height:100%;
 }
 #graficoResumenEventos{
 width: 100%;position:relative;
  height:33%;
  float: right;
     
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 15px;
     background-color: rgba(210, 200, 183, 0.95);
   -webkit-box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
 }
 #graficoResumenEventos>.textoMuestra{
     position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -127px;
 }
 #buscarEventoGosst{
  width: 100%;position:relative;
  height:33%;
  float: left;
      background-color: rgba(20, 137, 142, 0.86);
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 30px;
   -webkit-box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
 }
 #buscarEventoGosst:active{
 -webkit-box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
-moz-box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
background-color: #385cc9;
 }
 #buscarEventoGosst>.textoMuestra{
     position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -176px;
 }
 
 #nuevoEventoGosst,.nuevoGosst{
  width: 100%;position:relative;
  height:33%;
  float: right;    
  background-color: #0a7572;
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 30px;
    
    -webkit-box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
 }
 #nuevoEventoGosst>.textoMuestra,
 .nuevoGosst>.textoMuestra{
       position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -100px;
 }
 #nuevoEventoGosst:active,.nuevoGosst:active{
 -webkit-box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
-moz-box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
 background-color: #4bb3b3;
 
 }
 .filtroDivMovil,.descargarDivMovil{
     position: relative;
    font-size: 17px;    
    border: 3px outset white;
    border-radius: 19px;
    float: right;
    text-align: center;
    background: #3e9042;
    color: white;
    font-weight: 700;
    height: 14%;
    width: 45%;
 }
 .filtroDivMovil>div,.descargarDivMovil>div{
  top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 50%;
    margin-left: -44px;
 }
  .cancelarFormMovil>div,.cancelarFormInputMovil>div{
  top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 50%;
    margin-left: -43px;
    }
     .seguirFormMovil>div{
  top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 50%;
    margin-left: -44px;
    }
 .cancelarFormMovil{
    position: relative;
    font-size: 17px;    
    border: 3px outset white;
    border-radius: 19px;
    float: left;
    text-align: center;
    background: #293a34;
    color: white;
    font-weight: 700;
    height: 14%;
    width: 30%;
 }
 .cancelarFormInputMovil{
  position: relative;
    font-size: 17px;    
    border: 3px outset white;
    border-radius: 19px;
    float: left;
    text-align: center;
    background: #293a34;
    color: white;
    font-weight: 700;
    height: 35px;
    width: 30%;
    margin-bottom: 5px;
 }
  .seguirFormMovil{
   height: 14%;
   position: relative;
    z-index: 6;  
    border: 3px outset white;  
    border-radius: 19px;
    float: right;
    bottom: 0px;
   
    width: 45%;
     font-size: 17px;
    padding-top: 12px;
    text-align: center;
    background: #389b9c;
    color: white;
    font-weight: 700;
    right: 0px;
 }
 .formNuevoEvento1,.formNuevoEvento2{
 width: 100%;
    height: 17%; 
    font-weight: 800; font-size:17px;
    background-color: white;
    color: #1d9a91;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
 }
 .principalMovil{
 width:50%;
 background-color: white;
 float: left;
 height: 91%; 
  border-right:2px solid #4bc7bf ;
 }
  .secundarioMovil{
 width:50%;
 background-color:white;
 float: right;
 height: 91%;
 border-top:0px solid #1d9a91 ; 
 }
 .principalMovil > label,.secundarioMovil > label{
    display: inherit;
    background: #1d9a91;
    padding: 5px;
    color: white;
    font-size: 16px;
 
 }
 
 #divSelTipoRep{
     width: 50%;
    display: inline-block;
    }
    #divInputNomRep{
        width: 50%;
    display: inline-block;
    }  
    .imagenEventoGosst>img{
      padding-right: 10px;
    }
    .imagenEventoGosst>div>label{
    color:  #28b590;
    }
    .imagenEventoGosst{
    width: 100%;
    height: 80%;
    
        padding: 10px;
    font-weight: 800;
    color: black; 
    text-align: left;
    
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+36,f2f2f2+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 36%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 36%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 36%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

    
    }
    #vistaEventosGosst{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    }
    
    
 #tblInseg{
 min-width:1200px
 
 }
  
 .listOpcionFiltroGosst{
    width: 100%;
    color: #0a7572;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #0a7572;
    margin-top: 10px;
 }
 .tituloFiltro{
 background-color: white;
 height: 55px;
 }
 
 .opcionFiltroGosst{
 	display: none;
    background-color: #ecf0fa;
    border: 1px solid black;
    font-size: 17px;
    padding: 5px;
 }
 
 @media(max-width:768px){
  
  /*Cambios de calendario*/
  #year_tab,#week_tab,#month_tab,#day_tab,
  .dhx_cal_date,
  .dhx_cal_prev_button,
  .dhx_cal_next_button,
  .dhx_cal_today_button{
  display:none;
  }
  /****/
 
 /**Info de modulos**/
 #menuFigureti{
 width:100% !important; 
 }
 #menuExplicativo div{
 padding-top: 5px;
 }
 .fa-3x{
 font-size:2.5em
 }
 .fa-2x{
 font-size: 1.2em;
 }
 .graficoModulo{
 display:none !important
 }
 .itemFig{
 background-color:transparent !important;
 border: 8px solid #1d96c2 !important;
 }
 #btnIrModulo > .itemFig, #btnIrModulo > .subItemFig { 
	 background-color:transparent !important;
 border: 0px solid #0aa65c !important;
}
  .itemFig>span{
 margin-top: -22px !important;
 }
 #btnVolverModulos>.subItemFig{
     border: 0px solid rgba(200,33,4,1);
 }
 .subItemFig{
 border: 8px solid #1d96c2;
 }
  
 .itemNoFig{
 border: 8px solid #1d96c2;
 }
 /****/
 #fieldFiltro,#legendEstado{
 display:none
 }
 .dropdown{
 float:left;
     margin-left: 10px;
     margin-top: 3px;
 }
  .dropdown >a{
   font-size:12px; 
border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px;
border: 1px solid white;
    text-align: center;
    color:white;
    text-decoration: none
 }
 .dropdown-menu{
 background-color: #3d7da8 !important;
 font-size:12px;
 }
 
 
 
 #barraMenu a{
 margin-top:0px;
 float:left;
     padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 1px;
 }
 #barraMenu img{
     width: 80px !important;
      height: 22px;
    margin-top: 2px;
 }

 .navbar-header{
 	margin-top:1px !important;
 	height:25px 
 }
 .navbar-toggle {
 	    padding: 1px 1px;
   		 margin-top: -5px;
 }
 

 
 #menuMovilGosst{
 margin-top: 2px;
     margin-bottom: 2px;
     padding: 4px;
 }
 
 #icoPresentacion{
 display:none
 }
 #icoManual{
 display:none
 }
 
 .cargaPagina img{
    width: 25% !important;
    height: 36% !important;
    top: 24%;
    margin-top:0px
 }
 #mensajeGosst{
 top: 20%;
    position: relative;
    width: 50%;
    font-size: 20px;
     margin-top:0px;
      margin-left:0px
 }
 
 .iconoIndicador{
 display:none
 
 }
 
 h2{
 font-size:20px !important
 }
 
  /**Modulo de iperc*/
 #tblMatrices{
 min-width:700px
 }
 #thMatriz {
 font-size:13px
 }
 /**Modulo de capacitacion*/
 #tblCap{
 min-width:1400px
 }
 #tblProg{
 min-width:2200px
 }
 .ui-autocomplete-input{
 width: 100%;
 }
 #mdProgFecha>.modal-lg{
 width:97% !important;
 min-width:0px !important;
 
 }
 #modalEvaluacion>.modal-lg{
  width:97% !important;
 }
 
 table{
 font-size:11px !important
 }
 
 
 /*Seleccion de peustpos*/
 
 #divPuestos{
 font-size:11px !important
 }
 
 .ui-selectmenu-menu{
  font-size:11px !important
 }
 
 /*Trabajador*/
 .divTrabajadorGosst{
 position: relative;
 width: 100%;
     background: #0a7572;
    color: white;
    font-size: 20px;
        min-height: 50px;
    border-bottom: 1px solid white;
 }
 .objetivosTrabajadorGosst{
 float: right;
     width: 10%;
 }
 .detalleFormacionTrabajador,.detalleParticipacionTrabajador,.detalleEppsTrabajador{
 display: none;
 }
 .highcharts-container text{
 font-size:8px !important
 }
 
 /*auditoria*/
 
 #tituloAuditoria,#indicadorAuditoriaTbl	{
 display:none
 }
 
 
 
 /*Capacitacion*/
 .ui-autocomplete{
 max-height:300px;
 overflow-y:auto;
 }
 /*Epp*/
 #btnStock{
 display:none
 }
 /*proc*/
 #tblProSeg{
 
     width: 100%;
    min-width: 1500px;
 }
 /*Sin importar*/
 #btnUpload{
 display:none
 }
 /*AC SUB*/
 #grafEventosGosst{
 width:100%;
 height:100%;
 }
 #graficoResumenEventos{
 width: 100%;position:relative;
  height:33%;
  float: right;
      background-color: rgba(210, 200, 183, 0.95);
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 15px;
   -webkit-box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
box-shadow: inset -2px -2px 14px 6px rgb(195, 186, 170);
 }
 #graficoResumenEventos>.textoMuestra{
     position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -127px;
 }
 #buscarEventoGosst{
  width: 100%;position:relative;
  height:33%;
  float: left;
      background-color: rgba(20, 137, 142, 0.86);
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 30px;
   -webkit-box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
box-shadow: inset -2px -2px 14px 6px rgb(24, 137, 142);
 }
 #buscarEventoGosst:active{
 -webkit-box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
-moz-box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
box-shadow: inset -2px -1px 14px 3px rgba(75,101,179,1);
background-color: #385cc9;
 }
 #buscarEventoGosst>.textoMuestra{
     position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -130px;
 }
 #nuevoEventoGosst{
  width: 100%;position:relative;
  height:33%;
  float: right;    
  background-color: #0a7572;
    color: white;
    font-size: 50px;
    text-align: center;padding-top: 30px;
    
    -webkit-box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
-moz-box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
box-shadow: inset -2px -2px 14px 6px rgb(9, 105, 105);
 }
 #nuevoEventoGosst>.textoMuestra{
         position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -100px;
 }
 #nuevoEventoGosst:active{
 -webkit-box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
-moz-box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
box-shadow: inset -2px -1px 14px 3px rgba(36,138,138,1);
 background-color: #4bb3b3;
 
 }
  .cancelarFormMovil>div,.cancelarFormInputMovil>div{
  top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 50%;
    margin-left: -43px;
    }
     .seguirFormMovil>div{
  top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 50%;
    margin-left: -44px;
    }
 .cancelarFormMovil{
    position: relative;
    font-size: 17px;    
    border: 3px outset white;
    border-radius: 19px;
    float: left;
    text-align: center;
    background: #293a34;
    color: white;
    font-weight: 700;
    height: 14%;
    width: 45%;
 }
 .cancelarFormInputMovil{
   position: relative;
    font-size: 17px;    
    border: 3px outset white;
    border-radius: 19px;
    float: left;
    text-align: center;
    background: #293a34;
    color: white;
    font-weight: 700;
    height: 35px;
    width: 45%;
    margin-bottom: 5px;
 }
  .seguirFormMovil{
   position: relative;
    z-index: 6;  
    border: 3px outset white;  
    border-radius: 19px;
    float: right;
    bottom: 0px;
    height: 14%;
    width: 45%;
     font-size: 17px;
    padding-top: 12px;
    text-align: center;
    background: #389b9c;
    color: white;
    font-weight: 700;
    right: 0px;
 }
 .formNuevoEvento1,.formNuevoEvento2{
 width: 100%;
    height: 16%; 
    font-weight: 800; font-size:17px;
    background-color: white;
    color: #1d9a91;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
 }
 .principalMovil{
 width:50%;
 float: left;
 height: 86%; 
  border-right:2px solid #4bc7bf ;
 }
  .secundarioMovil{
 width:50%;
 float: right;
 height: 86%;
 border-top:0px solid #1d9a91 ; 
 }
 .solitarioMovil{
 width:100%;
 float: right;
 height: 86%;
 border-top:0px solid #1d9a91 ; 
 }
 .principalMovil > label,.secundarioMovil > label{
    display: inherit;
    background: #1d9a91;
    padding: 5px;
    color: white;
    font-size: 16px;
 
 }
 
 #divSelTipoRep{
     width: 50%;
    display: inline-block;
    }
    #divInputNomRep{
        width: 50%;
    display: inline-block;
    }
    .imagenEventoGosst{
    width: 100%;
    height: 80%;
        padding: 10px;
    font-weight: 800;
    color: black; 
    text-align: left;
    
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+36,f2f2f2+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 36%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 36%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 36%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

    
    }
    #vistaEventosGosst{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    }
    
    
 #tblInseg{
 min-width:1200px
 
 }
   .modal-lg{
 width: 97% !important;
 }
 #mdTrabs .modal-sm{
 width: 500px !important;
 }
 /*accidenets*/
 #tblAcc{
 min-width:1100px
 }
 /*acciones de mejora*/
 #tblAccion{
  min-width:1100px
 }
 
  .containerFig{
  height: 54%;
  min-width: 200px;
  }
  #btnIrModulo{
  min-width: 0px;
  }
 }
 
 
  @media(max-width:550px){
  
  .containerFig{
  height: 44%;
  }
  .itemFig,.itemNoFig,
  .subItemFig,.subItemNoFig{
  height: 80%;
  }
    #menuExplicativo{ 
    padding-top: 30px;
}
   /*AC SUB*/
   .cancelarFormMovil,.seguirFormMovil,.filtroDivMovil,.descargarDivMovil{ 
    height: 12%;
    width: 45%;
 }
    .formNuevoEvento1,.formNuevoEvento2{
 width: 100%;
    height: 17%;  
 }
 .principalMovil{
 width:100%;height:44%;
 float: left;
 border-right: 0px solid black;
 
 }
  .secundarioMovil{
 width:100%;height:44%;
 float: left;
  border-top:1px solid #1d9a91 ;
  
 }
   .cargaPagina{
       padding: 20px;
    text-align: center;
   }
   .cargaPagina> img{
   width: 80% !important;
    height: 36% !important;
    position: relative;
    margin-left: 0px;
    left: 0px;
   }
   
   #barraCarga {
    top: 30px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    z-index: 999998;
    position: relative;
	}
   
   #mensajeGosst {
    top: 30px;
    position: relative;
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    left: 0px;
}
  
  }
  @media(max-width:370px){
  #menuExplicativo{ 
    padding-top: 77px;
        background-color: white;
    z-index: 20;
	}
   
  }
    